<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f4f3f3;">
    <div class="container-fluid">
        <div class="navbar-left-group">
            <button aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarTogglerDemo01" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 py-1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.php">Početna stranica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="webshop.php">Naruči proizvode</a>
                    </li>
                    <?php if (isset($_SESSION['ime']) == 0) : ?>
                    <li class="nav-item">
                        <a class="nav-link" href="prijava.php">Prijava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registracija.php">Registracija</a>
                    </li>
                    <?php elseif ($_SESSION['ime'] == 'admin') : ?>
                    <li class="nav-item">
                        <a class="nav-link" href="dodajProizvod.php">Dodaj proizvod</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="odgovoriNaUpite.php">Odgovori na upite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="odjava.php"
                            onclick="return confirm('Dali ste sigurni da se želite odjaviti?')">Odjava</a>
                    </li>
                    <?php else : ?>
                    <li class="nav-item">
                        <a class="nav-link" href="odjava.php"
                            onclick="return confirm('Dali ste sigurni da se želite odjaviti?')">Odjava</a>
                    </li>
                    <?php endif; ?>
                    <li class="nav-item">
                        <a class="nav-link" href="upit.php">Pošalji upit</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-right-group">
            <button class="cart-button" id="cartButton">
                <img alt="Cart" src="ikone\cart.svg" />
                <span id="cartItemCount">0</span>
            </button>
            <div class="cart-dropdown" id="cartDropdown">
                <table id="cartTable">
                    <thead>
                        <tr>
                            <th>Ime proizvoda</th>
                            <th>Količina</th>
                            <th>Radnje</th>
                            <th>Cijena</th>
                        </tr>
                    </thead>
                    <tbody id="cartTableBody">
                        <!-- Cart items will be inserted here -->
                    </tbody>
                </table>
                <div class="checkout-container">
                    <a class="btn" href="naruci.php" id="button_checkout">Naruči</a>
                </div>
            </div>
            <div class="logo-image">
                <img class="img-fluid" src="Slike/logo.png" />
            </div>
        </div>
    </div>
</nav>
