body {
    margin: 0;
    padding: 0;
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-image {
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.logo-image img {
    height: 100%;
    width: auto;
    max-height: 50px; /* Maximum height so it doesn't stretch out the navbar */
}


h5{
    text-align: center;
}







.form-label {
    font-weight: bold;
    color: #333;
    text-align: center;
    
}

.form-control, .form-select {
    width: 45%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#visitor_message, #visitor_message_answer, #opis, #dodatne_informacije {
    width: 30%;
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 16px;
    transition: box-shadow 0.3s ease;
    text-align: center;
}

#opis, #dodatne_informacije {
    width: 50%;
}

#visitor_message:focus, #visitor_message_answer:focus, #opis:focus, #dodatne_informacije:focus {
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    outline: none;
}

#button_message, #button_message_answer, #button_login, #button_register, #button_add, #button_order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button_message:hover, #button_message_answer:hover, #button_login:hover, #button_register:hover, #button_add:hover, #button_order:hover {
    background-color: #0056b3;
}

.checkout-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#button_checkout {
    width: 30%;
    padding: 7px 7px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



#button_checkout:hover {
    background-color: #218838;
}

.table-responsive {
    max-width: 80%;
    margin: 0 auto;
    
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    background-color: #e4e4e4;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #bbbbbb;
}



.image-product {
    height: 10vh;   
    width: auto;       
    display: block;    
    margin-left: auto; 
    margin-right: auto;
    transition: height 0.3s ease;
}

.image-product:hover {
    height: 30vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}

.navbar-right-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-button {
    position: relative;
    background: none;
    border: none;
    margin-right: 5%;
    cursor: pointer;
}

#cartItemCount {
    display: none;
    position: absolute;
    top: -5px;
    right: -11px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 0.8em;
}

.cart-button img {
    height: 40px;
    width: auto;
    display: block;
}

.cart-dropdown {
    display: none;
    position: absolute;
    z-index: 2; /* This ensures the dropdown is on top of other elements */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    right: 1%;
    top: 10vh;
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#cartTable {
    width: 100%;
    border-collapse: collapse;
}

#cartTable th, #cartTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#cartTable th {
    background-color: #f2f2f2;
}

#password_message {
    display: none;
    position: absolute;
    left: 65%; /* Start it where the form is centered */
    top: calc(60% + 50px); /* Adjust this value based on your form's height */
    z-index: 2;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

nav {
    height: 10vh;
 }

 .add-to-cart-btn {
    background-color: #007bff;
    margin-top: 20%;
    color: #fff;
    border: none;
    padding: 4px;
    border-radius: 50px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}


button[onclick^='modifyCartQuantity'], button[onclick^='removeFromCart'] {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #333;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


button[onclick^='modifyCartQuantity']:hover, button[onclick^='removeFromCart']:hover {
    background-color: #a8a7a7; 
}

/* Specific style for the x (remove) button */
button[onclick^='removeFromCart'] {
    color: #d9534f;
}

button[onclick^='removeFromCart']:hover {
    background-color: #d9534f;
    color: #fff;
}

.index-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

.left-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
}
.right-container-1, .right-container-2 {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.right-container-1 > div {
    align-self: flex-start;
    margin-bottom: auto;
}

.right-container-2 > div {
    align-self: flex-end;
    margin-top: auto;
}

.text-element {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1rem; 
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}





#image-1 img, #image-2 img, #image-3 img {
    max-width: 100%; 
    max-height: 40vh;
    height: auto;
    display: block;
    margin: 10px auto; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#image-1 img, #image-2 img{
    max-height: 50vh;
}

@media (max-width: 1024px) {
    #visitor_message, #visitor_message_answer, #opis, #dodatne_informacije, #proizvod, #kolicina, #cijena, #kategorija, #slika, #username, #password, #ime, #prezime, #email, #password2, #phone_number {
        width: 95%;
    }
    .navbar-collapse {
        background-color: #f4f3f3;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        z-index: 2;
        border-top: 1px solid #ddd;
    }
    
    .text-element {
        font-size: 0.9rem;
        max-height: 30vh; 
        overflow: auto;
    }

    #image-1 img, #image-2 img{
        max-height: 50vh;
        max-width: 30vw;
    }
    
}



